// RESET ALL
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// HTML
html {
  box-sizing: border-box;
  font-size: 62.5%; // 10PX / 16PX = 62.5%

  // FONT SIZE TABLET L
  @include respond(tablet-l) {
    // medium screen => 9px / 16px = 56.25%

    font-size: 56.25%;
  }

  // FONT SIZE TABLET P
  @include respond(tablet-p) {
    // small screen => 8px / 16px = 50%

    font-size: 50%;
  }

  // FONT SIZE PHONE
  @include respond(phone) {
    // extra small screen => 5PX / 16PX = 31.25%

    font-size: 31.25%;
  }
}

body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  font-weight: $font-weight-regular;
}