<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")

        //- IMPORTANT ALL DEVICES
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        //- FAV ICON
        link(rel="shortcut icon", href="./assets/img/favicon/logo.png", type="image/x-icon")

        //- TITLE
        title weather now
    body

        //- ALL INCLUDES
        include ./pug/helprs/mixins.pug

        main

            //- HEADER
            header.header

                //- CONTAINER
                .container

                    //- HEADER BOX
                    .header__box

                        //- HEADER LOGO
                        a(href="/", class="header__logo reset-link")
                            +useSvg('icon-logo-weather-now', 'logo weather now')

                        //- HEADER CONTENT
                        .header__content

                            //- HEADER CONTENT LOCATION
                            .header__content__location
                                +useSvg('icon-map-marker', 'map-marker')
                                p.header__content__location__current
                                   

                            //- HEADER CONTENT CALENDER
                            .header__content__calender
                                .header__content__calender__box
                                    .header__content__calender__day
                                        +useSvg('icon-calender', 'calender', 'header__content__calender__day__icon')
                                        span.header__content__calender__day__nameday monday
                                        span.header__content__calender__day__clock.uppercase-text 05:00 am

                                    .header__content__calender__fulldate 
                                        span.header__content__calender__fulldate__day 14
                                        span.header__content__calender__fulldate__month october
                                        span.header__content__calender__fulldate__year 1990

                            //- HEADER CONTENT FORM
                            form.header__content__form
                                .header__content__form__inner
                                    input(type="search", placeholder="search country ...")
                                    button(class="header__content__form__submit reset-btn", type="submit")
                                        +useSvg('icon-search', 'search', 'header__content__form__icon')

                            

                            //- HEADER CONTENT WEATHER
                            .header__content__weather 
                                .header__content__weather__inner
                                    //- +useSvg('icon-cold', 'icon-cold')

                                    .header__content__weather__info.text-center.uppercase-text
                                        //- p.header__content__weather__info__class 12
                                        //- p.header__content__weather__info__summary cold

                                    .header__content__weather__temp.display-none
                                        span.header__content__weather__temp__celi c
                                        span.header__content__weather__temp__frhin f




                                        
                                    


                                




